:root {
    --header-height: 120px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    /* margin: 0 auto; */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-5 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
    height: 180px;
    margin-left: 80px;
}

.grid__column-11 {
    padding: 10px 5px 0 5px;
    width: 100%;
}

.grid__column-11-4 {
    position: relative;
    width: 100%;
    height: 43vh;
    padding-top: 15px;
}

.grid__column-11-8 {
    position: relative;
    width: 100%;
}
